@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERALS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}


@media(max-width:749px){


    .left-wing{
        display: none;
    }


    .input-block{
        display: none;
    }

    .right-nav{
        display: flex;
        gap: 20px;
    }

    .right-nav > div{
        background-color: #F0F0F0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 85px;
        border-radius: 20px;
    }

    .right-nav > img{
        height: 40px;
        width: 40px;
        border-radius: 25px;
    }

    .right-wing{
        overflow-y: scroll;
        height: 100vh;
    }

    .main-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }

    .right-nav{
        display: flex;
    }

    .right-nav > div{
        display: flex;
    }

    .secondary-nav{
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }

    .secondary-nav > ul{
        display: flex;
        gap: 15px;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: none;
        /* width: 990px; */
        width: 85vw;
        height: 35px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }

    .video-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .vid-bar{
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        padding: 10px; 
    }

    .vid-bar > img{
        height: auto;
        width: 80vw ;
        border-radius: 10px;
    }

    .vb-thumbnail{
        display: flex;
        gap: 15px;
        margin-top: 10px;
    }

    .vbt-left > img{
        border-radius: 50%;
    }

    .channel{
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 5px 5px 5px 0;
    }

    .channel-info{
        padding: 0;
        border: 1px solid black;
    }
}

/* ------------------------- */


/* DESKTOP SCREEN  */
@media(min-width:750px){
    .main{
        display: flex;
        margin-left: 10px;
    }

    /* FIRST SECTION  */
    


    .left-wing{
        overflow-y: scroll;
        height: 100vh;
        width: 35vh;
    }

    .lw-short-link{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: left;
        margin-left: 30px; /*NOTE */
    }

    .link-headers{
        display: flex;
        align-items: center;
        border-top: 1px solid grey;
        padding: 10px;
    }

    .sub-list > li{
        display: flex;
        align-items: center;
        padding: 8px;
        gap: 10px;
    }

    .sub-list > li:hover{
        background-color: #F0F0F0;
        border-radius: 10px;
    }

    .me-ul > li{
        display: flex;
        align-items: center;
        padding: 8px;
        gap: 10px;
    }

    .me-ul > li:hover{
        background-color: #F0F0F0;
        border-radius:10px;
    }

    .more-ul > li{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px;
    }

    .more-ul > li:hover{
        background-color: #F0F0F0;
        border-radius: 10px;
    }

    .report-tab{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }

    footer > ul{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    footer > ul > li > a{
        text-decoration: none;
    }




    /* SECONDARY/MAIN SECTION  */
    #ds-none{
        display: none !important;
    }

    .input-block{
        display: flex;
        align-items: center;
        justify-content: right;
        border: 1px solid #adacac;
        padding-right: 40px;
        border-radius: 25px;
        border-left: none;
        background-color: #F0F0F0;
    }

    .input-block > input{
        width: 450px;
        height: 40px;
        border-radius: 25px 0 0 25px;
        border: none;
        border-right: 2px solid #adacac;
    }

    #search-ds{
        
    }

    .right-nav{
        display: flex;
        gap: 20px;
    }

    .right-nav > div{
        background-color: #F0F0F0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 85px;
        border-radius: 20px;
    }

    .right-nav > img{
        height: 40px;
        width: 40px;
        border-radius: 25px;
    }

    .right-wing{
        overflow-y: scroll;
        height: 100vh;
    }

    .main-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }

    .right-nav{
        display: flex;
    }

    .right-nav > div{
        display: flex;
    }

    .secondary-nav{
        padding: 30px 0;
    }

    .secondary-nav > ul{
        display: flex;
        gap: 15px;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: none;
        width: 990px;
        height: 35px;
    }

    .secondary-nav > ul > li{
        background-color: #F0F0F0;
        padding:5px;
        border-radius: 8px;

    }  

    /*video section */
    .video-section{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 5px;
    }

    /* vid bar  */
    .vid-bar{
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        padding: 10px;
        
    }

    .vid-bar:hover{
        background-color: #F0F0F0;
    }

    /*video thumbnail image*/
    .vid-bar > img{
        height: auto;
        width: 330px ;
        border-radius: 10px;
    }

    .vb-thumbnail{
        display: flex;
        gap: 15px;
        margin-top: 10px;
    }

    .vbt-left > img{
        border-radius: 50%;
    }

    .channel{
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 5px 5px 5px 0;
    }

    .channel-info{
        padding: 0;
        border: 1px solid black;
    }


}



